{% extends 'base.html' %}

{% block title %}Профиль - XTR Auction{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <img src="{{ user.photo_url }}" alt="Аватар" class="img-thumbnail">
    </div>
    <div class="col-md-8">
        <h2>{{ user.username }}</h2>
        <p><strong>Telegram ID:</strong> {{ user.telegram_id }}</p>
        <p><strong>Имя:</strong> {{ user.first_name }} {{ user.last_name }}</p>
        {% if user.is_admin %}
            <span class="badge bg-danger">Администратор</span>
        {% endif %}
        <hr>
        <a href="{{ url_for('new_auction') }}" class="btn btn-primary">Создать аукцион</a>
        <a href="{{ url_for('my_auctions') }}" class="btn btn-secondary">Мои аукционы</a>
        <a href="{{ url_for('watchlist') }}" class="btn btn-info">Список наблюдения</a>
        <a href="{{ url_for('achievements') }}" class="btn btn-warning">Достижения</a>
    </div>
</div>
{% endblock %}
